<div class="bus-route--tileitem m-align-left">
  <div class="bus-route--tileitem-section m-large m-align-left">
    <h1><%= number %></h1>
  </div>
  <div class="bus-route--tileitem-section m-small m-align-left">
    <ul class="bus-route--waittimes">
      <% for(var i=0; i< wait_times.length; i++) {%>
        <% if (wait_times[i].wait == "DUE"|| wait_times[i].wait > 0) {%>
          <li class="bus-route--waittimes-item"><h3><%= wait_times[i].wait %></h3></li>
        <% } %>
      <% } %>
    </ul>
  </div>
  <div class="bus-route--tileitem m-footer">
    <h3><%=  headsign.toLowerCase() %></h3>
  </div>
</div>

