<div class="bus-station--title">
  <img src="../../images/marker_white_on_black.png" alt="You are here"/>
  <h3>You are at <%= name %></h3>
</div>
<div class="bus-route--legend">
  <h5>Blue denotes real-time estimated arrival</h5>
</div>
<div class="bus-route--label">
  <div class="m-split">
    <h4 class="m-align-left">Route</h4>
    <h4 class="m-align-right">Arriving</h4>
  </div>
  <div class="m-split">
    <h4 class="m-align-left">Route</h4>
    <h4 class="m-align-right">Arriving</h4>
  </div>
</div>
<div class="bus-route--container"></div>
