$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

@import '../bower_components/leaflet/dist/leaflet.css';

@font-face {
  font-family: "Futiger";
  src: url("fonts/FrutigerLTStd-Bold.otf") format("opentype"),
       url("fonts/FrutigerLTStd-Light.otf") format("opentype"),
       url("fonts/FrutigerLTStd-Cn.otf") format("opentype");
}

body {
  padding: 0;
  margin: 0;
  font-family: "Futiger";
}

h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
}

// TODO: Refactor into separate files
.bus-station--title {
  background-color: #fbba2f;
  height: 72px;
  margin: 0;
  padding: 0;
  padding: .4em 2em;
}

.bus-station--title h3{
  font-size: 45pt;
}

.bus-route--legend {
  background-color:#0B79BF;
  height: 42px;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 1em 2em;
}

.bus-route--legend h5{
  padding: 0;
  margin: 0;
  color: white;
  font-size: 14pt;
}

.bus-route--label {
  background-color:#737273;
  height: 65px;
  margin: 0;
  padding: 0;
  padding-top: 1.3em;
  width: 100%;
  color: white;
}

.bus-route--label h4{
  font-size: 24pt;
}

.m-split {
  display: inline-block;
  width: 598px;
  padding: 0 3.2em 0 2.2em;
}

.bus-route--container {
  overflow: auto;
}

.bus-route--tileitem-container {
  width: 599px;
  height: 246px;
  float: left;
}

.bus-route--tileitem {
  width: 600px;
  height: 246px;
  margin: 0;
  border: 1px solid black;
  text-transform: capitalize;
  padding: 1.4em 0 0 2em;
}

.bus-route--tileitem-route {
  height: 50%;
  margin: 0;
}

.bus-route--tileitem-route h1{
  font-size: 100pt;
}

.bus-route--tileitem-name {
  margin-top: 18px;
  height: 76px;
  overflow: hidden;
}

.bus-route--tileitem-name h3{
  font-size: 28pt;
}

.m-large {
  width: 336px;
}

.m-small {
  width: 233px;
}

.m-align-left {
  float:left;
}

.m-align-right {
  float:right;
}

.bus-route--waittimes {
  list-style-type: none;
  text-align: center;
}

.bus-route--waittimes h2{
  font-size: 42pt;
}

/* Style info for Newsticker */
/* liScroll styles */

.bus-route--ticker { /* the outer div with the black border */
clear: both;
background: #fff;
height: 50px;
margin: 0;
padding: 0;
overflow: hidden;
}

.bus-route--ticker .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 10px;
top: 10px;
width: 1200px;
overflow: hidden;
}

.newsticker { /* that's your list */
position: relative;
list-style-type: none;
margin: 0;
padding: 0;

}

.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
padding-top: .2em;
background: #fff;
font-size: 24pt;
border: none;
}

.newsticker a {
white-space: nowrap;
padding: 0;
color: #ff0000;
font: bold 10px;
margin: 0 50px 0 0;
}

ul.newsticker span {
margin: 0 10px 0 0;
}

div.map--container {
  clear: both;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

div.leaflet-top {
  display: none;
}

span.popup.heading {
  font-weight: bold;
}

span.popup.bodytext {
  font-style: italic;
}



/* what follows is a temp fix for the leaflet.css bug in deployment. I'm copying in the most important parts of that file as a backup. IT SHOULD BE REMOVED SOON! */

/* required styles */

.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
  }
.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none;
  }
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  }
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
  }
/* map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img {
  max-width: none !important;
  }
/* stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important;
  }
.leaflet-tile {
  filter: inherit;
  visibility: hidden;
  }
.leaflet-tile-loaded {
  visibility: inherit;
  }
.leaflet-zoom-box {
  width: 0;
  height: 0;
  }
/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
  -moz-user-select: none;
  }

.leaflet-tile-pane    { z-index: 2; }
.leaflet-objects-pane { z-index: 3; }
.leaflet-overlay-pane { z-index: 4; }
.leaflet-shadow-pane  { z-index: 5; }
.leaflet-marker-pane  { z-index: 6; }
.leaflet-popup-pane   { z-index: 7; }

.leaflet-vml-shape {
  width: 1px;
  height: 1px;
  }
.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute;
  }


/* control positioning */

.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto;
  }
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  }
.leaflet-top {
  top: 0;
  }
.leaflet-right {
  right: 0;
  }
.leaflet-bottom {
  bottom: 0;
  }
.leaflet-left {
  left: 0;
  }
.leaflet-control {
  float: left;
  clear: both;
  }
.leaflet-right .leaflet-control {
  float: right;
  }
.leaflet-top .leaflet-control {
  margin-top: 10px;
  }
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
  }
.leaflet-left .leaflet-control {
  margin-left: 10px;
  }
.leaflet-right .leaflet-control {
  margin-right: 10px;
  }



/* general typography */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  }





/* popup */

.leaflet-popup {
  position: absolute;
  text-align: center;
  }
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
  }
.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
  }
.leaflet-popup-content p {
  margin: 18px 0;
  }
.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
  }
.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;

  margin: -10px auto 0;

  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  }
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;

  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  }
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
  }
.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
  }
.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  }

.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1;
  }
.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;

  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
  }
.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px;
  }

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999;
  }

