$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

body {
  padding: 0;
  margin: 0;
}

.bus-station--title {
  background-color: #fbba2f;
  height: 70px;
  margin: 0;
  padding: 0;
  margin-top: -20px;
  text-align: center;
}

.bus-station--title h3{
  font-size: 45pt;
}

.bus-route--tileitem {
  width: 400px;
  height: 400px;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  text-transform: capitalize;
}

.bus-route--tileitem-section {
  height: 80%;
}

.bus-route--tileitem-section h1{
  font-size: 74pt;
}

.m-large {
  width: 279px;
}

.m-small {
  width: 119px;
}

.m-align-left {
  float:left;
}

.bus-route--waittimes {
  list-style-type: none;
}

/* Style info for Newsticker */
/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
border-top: 1px solid #000;
background: #fff; 
width: 1200px;
height: 50px; 
margin: 0; 
padding: 0;
overflow: hidden; 
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 10px;
top: 8px;
width: 1200px;
overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;
font: bold 24pt Verdana;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
background: #fff;
}
ul.newsticker a {
white-space: nowrap;
padding: 0;
color: #ff0000;
font: bold 10px Verdana;
margin: 0 50px 0 0;
} 
ul.newsticker span {
margin: 0 10px 0 0;
} 
