$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

// switching to CDN version of the Leaflet files to fix deployment issue
//@import '../bower_components/leaflet/dist/leaflet.css';
@import '//cdn.leafletjs.com/leaflet-0.7.3/leaflet.css';

@font-face {
  font-family: "Frutiger";
  src: url("fonts/FrutigerLTStd-Bold.otf") format("opentype"),
       url("fonts/FrutigerLTStd-Light.otf") format("opentype"),
       url("fonts/FrutigerLTStd-Cn.otf") format("opentype");
}

body {
  padding: 0;
  margin: 0;
  font-family: "Frutiger";
}

h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
}

// TODO: Refactor into separate files
.bus-station--container {
width: 1199px;
max-height: 1900px;
overflow: hidden;
}

.bus-station--title {
  background-color: #fbba2f;
  height: 72px;
  margin: 0;
  padding: 0;
  padding: .4em 2em;
}

/*Matt Edit*/
.bus-station--title {
  height: 114px;
}
/*End Matt Edit*/

.bus-station--title h3{
  font-size: 45pt;
}

/* Matt edit*/
.bus-station--title h3 {
  display: inline-block;
  margin-top: 17px;
  margin-left: 15px;
}

.bus-station--title img {
  float: left;
  width: 59px;
  height: auto;
  display: block;
  margin-top: 19px;
  margin-left: -13px;
}
/* End Matt edit*/

.bus-route--legend {
  background-color:#0B79BF;
  height: 42px;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 1em 2em;
}

.bus-route--legend h5{
  padding: 0;
  margin: 0;
  color: white;
  font-size: 14pt;
}

/*Matt Edit*/
.bus-route--legend {
  display: none;
}

.bus-route--label {
  background-color:#737273;
  height: 65px;
  margin: 0;
  padding: 0;
  padding-top: 1.3em;
  width: 100%;
  color: white;
}

/*Matt Edit*/
.bus-route--label {
  background-color: #0B79BF;
  border-top: 6px solid #000000;
  height: auto;
  padding: 0;
  //display: none;
}

.bus-route--label h4{
  font-size: 24pt;
  line-height: 1;
  padding: .25em 0;
}
/*End Matt Edit*/

.m-split {
  display: inline-block;
  width: 538px;
  padding: 0 2.4em 0 2.2em;
}

.bus-route--container {
  height: 738px;
  overflow: auto;
}

.bus-route--tileitem-container {
  width: 539px;
  height: 246px;
  float: left;
}

/*Matt Edit*/
.bus-route--tileitem-container {
  box-sizing: border-box;
}

.bus-route--container > div:first-child .bus-route--tileitem,
.bus-route--container > div:nth-child(2) .bus-route--tileitem {
  border-top-width: 0;
}
/*End Matt Edit*/

.bus-route--tileitem {
  width: 540px;
  height: 246px;
  margin: 0;
  border: 1px solid black;
  text-transform: capitalize;
  padding: 1.4em 0 0 2em;
}

/*Matt Edit*/
.bus-route--tileitem {
  /*height: 100%;
  width: 600px;*/
}

.bus-route--container > div .bus-route--tileitem {
  border-top: 6px solid #000000;
}

.bus-route--tileitem .bus-route--tileitem-wait .bus-route--waittimes li:first-child {
  color: #0B79BF !important;
}

.bus-route--tileitem .bus-route--tileitem-wait .bus-route--waittimes li:first-child h2 {
  display: inline-block;
}

.bus-route--tileitem .bus-route--tileitem-wait .bus-route--waittimes li:first-child:after {
  content: 'min';
  font-size: 56px;
  padding-left: .25em;
}

.bus-route--tileitem .bus-route--tileitem-wait .bus-route--waittimes li:nth-child(n + 2) {
  color: #a7a7a7 !important;
}

.bus-route--tileitem .bus-route--tileitem-wait .bus-route--waittimes li.b-red {
  color: #EC1D40 !important;
}

.bus-route--tileitem .bus-route--tileitem-wait .bus-route--waittimes li:first-child.b-red:after {
  display: none;
}
/*End Matt Edit*/

.b-red {
  color: #EC1D40;
}

.b-grey {
  color: #BCBCBC;
}

.b-blue {
  color: #0B79BF;
}

.bus-route--tileitem-route {
  height: 50%;
  margin: 0;
}

.bus-route--tileitem-route h1{
  font-size: 100pt;
}

.bus-route--tileitem-name {
  margin-top: 18px;
  height: 76px;
  overflow: hidden;
}

.bus-route--tileitem-name h3{
  font-size: 28pt;
}

.m-large {
  width: 277px;
}

.m-small {
  width: 233px;
}

.m-align-left {
  float:left;
}

.m-align-right {
  float:right;
}

.bus-route--waittimes {
  list-style-type: none;
  text-align: center;
}

.bus-route--waittimes h2{
  font-size: 42pt;
}

/* Style info for Newsticker */
/* liScroll styles */

.bus-route--ticker { /* the outer div with the black border */
clear: both;
background: #fff;
min-width: 36000px;
height: 50px;
margin: 0;
padding: 0;
overflow: hidden;
}

.bus-route--ticker .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 10px;
top: 10px;
width: 1080px;
overflow: hidden;
}

.newsticker { /* that's your list */
position: relative;
list-style-type: none;
margin: 0;
padding: 0;
}

.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
padding-top: .2em;
background: #fff;
font-size: 24pt;
border: none;
}

.newsticker a {
white-space: nowrap;
padding: 0;
color: #ff0000;
font: bold 10px;
margin: 0 50px 0 0;
}

ul.newsticker span {
margin: 0 10px 0 0;
}

div.map {
  clear: both;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 933px;
  overflow: hidden;
}

div.leaflet-top {
  display: none;
}

span.popup.heading {
  font-weight: 600;
}

span.popup.bodytext {
  font-weight: 100;
}

.leaflet-container {
  font-family: "Frutiger";
}

.stopPopup {
  opacity: 0.75 !important;
  max-width: 180px;
}
